.graphic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.graphic div {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
  display: grid;
  align-items: center;
}

.total {
  grid-column: 1/-1;
  padding: 2rem;
  font-size: 2rem;
}

@media (max-width: 40rem) {
  .graphic {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
  .total {
    grid-column: 1;
  }
}
